/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


/* ettign style for the page */

body{
    background-color: #fac9d3;
}

.container{
    background-color: rgb(250, 250, 250, 0.7);
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 50px;

}

nav{
    /* Setting the margin so the navbar don't leave space top, right, and left side */
    margin: -15px;
    margin-bottom: auto;
    background-color: #d5eff9;
    text-align: center;

}

.navbarLanding{
    background-color: transparent;
    margin-top: 20px;
}
.navbarMobile{
    display: none;
}



.logo{
   color: #690AC7;
   text-align: center;
   stroke-width: 3px;
   font-family: "Jacquard 12";
   font-size: 60px;
   padding: 50px;
   outline: 2px;
   outline-color: black;


}


a{
    text-decoration: none;
    font-family: "Lilita One";
    
}

a:hover{
    cursor: pointer;
}

.title{

    font-family: "Lilita one";
    text-align: center;
    font-size: 40px;



}

p{
   padding: 20px;
   text-align: left;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#avatarIcon{
    place-content: center;
    width: 200px;
}

.content{
    margin: 0px 30px;
}

#intro{
    font: "Lilita One";
    text-align: left;
    font-size: 38px;
    max-width: 800px;
    margin: 40px 40px;


}


#projects{
    background-color: #ff1870;
    border-radius: 32px;
    padding: 10px 15px;
    box-shadow: 10px 5px rebeccapurple;
    color: white;
    font-size: 30px;
    margin: 20px;
    position: absolute;
    left: 200px;
  



}

#projects:hover{
    background-color: #ff7994;
    color: #000;
    
}


#aboutMe{
    background-color: #bffaff;
    border-radius: 32px;
    padding: 10px 15px;
    color: black;
    font-size: 20px;
    position: relative;
    top: 110px;
    left: 280px;
}

#aboutMe:hover{
    background-color: #1e566d;
    color: #ffffff;
    
}


.thumbnail{
    width: 500px;
    display: cover;
    align-items: center;
    position: absolute;
    right: 200px;
    top: 200px;


    
  
}


.feauturedWorks{
    position: relative;
    text-align: center;
}

/* Card code form mdn web docs documentation */

.cards{
    max-width: 1000px;
    margin: 1px auto;
    display: flex;
    margin-bottom: 50px;
    gap: 40px;
}

.card{
    box-shadow:10px 5px rgb(105,10,199, 0.5) ;
    max-width: 400px;
    align-items: center;

    background-color: #d5eff9;
    border-radius: 32px;
    display: block;
   
}

.imgCard{
    width: 300px;
    height: 225px;
    object-fit: cover;
    border-radius: 32px;
    margin: 10px;

}

.tag{
    border-radius: 32px;
    color: white;
    margin:10px;
    padding: 12px;
    max-width: fit-content;
    background-color: #ff1870;
    /* outline: 2px #ff1870 ; */
}


.featuredWorks{
    position: absolute;
    top: 500px;
    left: 230px;
    
    
}

.featuredWorks h2{
    font-family: "Lilita One";
    text-align: center;
    font-size: 40px;
   
}

.featuredWorks h3{
    margin-left: 10px;
    text-align: center;
}

.card:hover{
    cursor: pointer;
    translate: 3s;
    /* animation: moving 5s infinite; */
    scale: 110%;
   

    


}



/* @keyframes moving{
    from{
        rotate: 90deg;

    }
    to{

        rotate: -90deg;
    }
    
}
 */






/* For Mobile */

@media only screen and (max-width: 896px ) {
    body{
        max-width: 100%;


    }

    .navbarMobile{
        display: block;
        margin: -15px;
        margin-bottom: auto;
        background-color: #d5eff9;
        text-align: center;
        max-height: 200px;

    }

    .logo{
        font-size: 30px;
        margin: 60px;
    }


    .navbarDesktop{
        display: none;
        
    }

    .DropdownButton{
        position: absolute;
        right: 0px;
        top: 20px;
        background-color: #fac9d3;
        border-style: dotted;
        border-color:#690AC7;
        border-radius: 10px;
        height: 50px;
        width: 50px;
        margin-top: 10px;
        margin-right: 20px;
    }

    .dropdown{
        list-style: none;
        text-align: right;
        margin-right: 40px;
    }

    .DropdownItem{
        display: none;
    }

    /* .itemsnav{
        
    } */



    
    
    
}
    
